html    {
    background-color: #222;
}

header {
    height: 100vh;
    position: relative;
}

.heroSection {
    @include boxShadow;
    @include gradientBackground;
    text-align: center;
    padding: 70px 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    color: $fontColor;
    font-family: 'Bungee Inline', cursive;
    font-size: 9rem;
    margin: 0;
    text-shadow: -20px 20px 10px #111;
    letter-spacing: 5px;
}

.textContainer > span {
    font-family: 'Bungee Inline', cursive;
    font-size: 9rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite;
    letter-spacing: 5px;
  }
  
  @keyframes glow {
    0%, 100% {
      color: $fontColor;
      text-shadow: 0 0 10px $btnColor, 0 0 50px $btnColor, 0 0 100px $btnColor;
    }
    
    10%, 90% {
      color: #333;
      text-shadow: -20px 20px 10px #111;
    }
  }
  .textContainer > p {
    font-size: 1.5rem;
    font-weight: 400;
    background-image: linear-gradient(to left, rgb(187, 187, 25), rgb(167, 111, 207), rgb(48, 139, 212));   
    -webkit-background-clip: text;   
    color: transparent;
  }
  
  .textContainer > span:nth-child(2) {
      animation-delay: 0.25s;
  }
  
  .textContainer > span:nth-child(3) {
      animation-delay: 0.5s;
  }
  
  .textContainer > span:nth-child(4) {
      animation-delay: 1s;
  }
  
  .textContainer > span:nth-child(5) {
      animation-delay: 1.25s;
  }
  
  .textContainer > span:nth-child(6) {
      animation-delay: 1.5s;
  }
  
  .textContainer > span:nth-child(7) {
      animation-delay: 2s;
  }

@keyframes rotate {
    0% {
        transform: rotateY(-45deg);
    }
    100% {
        transform: rotateY(45deg);
    }
}

button {
    @include startBtn;
    transition: border 0.4s, color 0.4s;
}

button:hover,
button:focus {
    border: 4px solid $borderColor;
    color: $fontColor;
}
button a {
    text-decoration: none;
    color: #fff;
}

:root {
    --background-colour: none;
    --border-colour: $btnColor;
    --border-width: 6px;
    
}
button:hover,
button:focus {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px $assetColor, 0 0 30px $assetColor, 0 0 40px $assetColor, 0 0 60px $assetColor, 0 0 50px $assetColor; 
}

.difficulty {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    .difficultyBtn {
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
