html    {
    background-color: #39393A;
}

header {
    height: 100vh;

}

#hero {
    text-align: center;
    border: 10px solid #A49694;
}
h1 {
    color: #F2F7F2;
    font-family: 'Bungee Inline', cursive;
    font-size: 8rem;
}
.textContainer > span {
    font-family: 'Bungee Inline', cursive;
    font-size: 8rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite;
  }
  
  @keyframes glow {
    0%, 100% {
      color: #FFF;
      text-shadow: 0 0 10px #E9D758, 0 0 50px #E9D758, 0 0 100px #E9D758;
    }
    
    10%, 90% {
      color: #111;
      text-shadow: none;
    }
  }
  
  .textContainer > span:nth-child(2) {
      animation-delay: 0.5s;
  }
  
  .textContainer > span:nth-child(3) {
      animation-delay: 1s;
  }
  
  .textContainer > span:nth-child(4) {
      animation-delay: 1.5s;
  }
  
  .textContainer > span:nth-child(5) {
      animation-delay: 2s;
  }
  
  .textContainer > span:nth-child(6) {
      animation-delay: 2.5s;
  }
  
  .textContainer > span:nth-child(7) {
      animation-delay: 3s;
  }

@keyframes rotate {
    0% {
        transform: rotateY(-45deg);
    }
    100% {
        transform: rotateY(45deg);
    }
}

button {
    all: unset;
    padding: 0.8em 2em;
    color: #E9D758;
    text-transform: uppercase;
    font: 700 1.4rem 'Roboto', sans-serif;
    letter-spacing: 0.15em;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border: var(--border-width) solid var(--border-colour);
    transform: rotateX(15deg);
    animation: rotate ease-out 6s infinite alternate;
    transform-style: inherit;
    cursor: pointer;
}
:root {
    --background-colour: none;
    --border-colour: #E9D758;
    --border-width: 6px;
    
}
