//Desktop to Tablet version
@media only screen and (max-width: 850px) {
    h1 {
        font-size: 5.5rem;
        margin: 0;
    }
    .textContainer > span {
        font-size: 5.5rem;
    }
    button #startBtn {
    padding: 0;
    font-size: 1rem;
    }
    .question {
        font-size: 2rem;
        padding: 10px 100px;
    }
    .multipleChoices {
        padding: 10px 50px;
    }
    .answerButtons {
        font-size: 1rem;
        padding: 10px 20px;
        margin-right: 0px;
    }
}

//smaller tablet version
@media only screen and (max-width: 550px) {
    h1 {
        font-size: 4rem;
        margin: 0;
    }
    .textContainer > span {
        font-size: 4rem;
    }
    .question {
        font-size: 1.3rem;
    }
    .modalBox > p {
        font-size: 2.5rem;

    }
}

//Tablet to mobile
@media only screen and (max-width: 350px) {
    h1 {
        font-size: 2.5rem;
        margin: 0;
    }
    .textContainer > span {
        font-size: 2.5rem;
    }
    button {
        padding: 0.2;
        font-size: 1rem;
        }
    .question {
        font-size: 0.7rem;
    }
    .item {
        width: 80px;
        height: 80px;
            .countTimer {
                font-size: 2rem;
            }
    }
    .modalBox  {
        height: 50%;
        img {
            max-width: 200px;
        }

        p{
            font-size: 1.5rem;
        }
    }
}

