$assetColor: #A49694;
$fontColor: #F2F7F2;
$btnColor: #B38800;
$borderColor: #4F86C6;

@mixin startBtn {
    all: unset;
    padding: 0.5em 1.2em;
    color: $btnColor;
    text-transform: uppercase;
    font: 700 1.4rem 'Poppins', sans-serif;
    letter-spacing: 0.15em;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border: 4px solid $btnColor;
    transform: rotateX(15deg);
    animation: rotate ease-out 6s infinite alternate;
    transform-style: inherit;
    cursor: pointer;
}

@mixin gradientBackground { 
    background: linear-gradient(rgba(21, 11, 99, 0.3) 50%, rgba(67, 58, 140, 0.3));
}

@mixin boxShadow {
    box-shadow: -40px 40px 30px #111;
}