@import 'setup';
@import 'mixinVariables';
@import 'header';
@import 'main';
@import 'meterBar';
@import 'footer';
@import 'mediaQuery';

body {
  font: 400 1rem 'Roboto', sans-serif;
  color: white;
}
img {
  display: block;
}

h3 {
  font: 400 2rem 'Roboto', sans-serif;
}

