html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.wrapperContainer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

html {
  background-color: #222;
}

header {
  height: 100vh;
}

.heroSection {
  -webkit-box-shadow: -40px 40px 30px #111;
          box-shadow: -40px 40px 30px #111;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(21, 11, 99, 0.3)), to(rgba(67, 58, 140, 0.3)));
  background: linear-gradient(rgba(21, 11, 99, 0.3) 50%, rgba(67, 58, 140, 0.3));
  text-align: center;
  padding: 70px 40px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

h1 {
  color: #F2F7F2;
  font-family: 'Bungee Inline', cursive;
  font-size: 9rem;
  margin: 0;
  text-shadow: -20px 20px 10px #111;
  letter-spacing: 5px;
}

.textContainer > span {
  font-family: 'Bungee Inline', cursive;
  font-size: 9rem;
  text-transform: uppercase;
  -webkit-animation: glow 2s ease-in-out infinite;
          animation: glow 2s ease-in-out infinite;
  letter-spacing: 5px;
}

@-webkit-keyframes glow {
  0%, 100% {
    color: #F2F7F2;
    text-shadow: 0 0 10px #B38800, 0 0 50px #B38800, 0 0 100px #B38800;
  }
  10%, 90% {
    color: #333;
    text-shadow: -20px 20px 10px #111;
  }
}

@keyframes glow {
  0%, 100% {
    color: #F2F7F2;
    text-shadow: 0 0 10px #B38800, 0 0 50px #B38800, 0 0 100px #B38800;
  }
  10%, 90% {
    color: #333;
    text-shadow: -20px 20px 10px #111;
  }
}

.textContainer > span:nth-child(2) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.textContainer > span:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.textContainer > span:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.textContainer > span:nth-child(5) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.textContainer > span:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.textContainer > span:nth-child(7) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(-45deg);
            transform: rotateY(-45deg);
  }
  100% {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

button {
  all: unset;
  padding: 0.8em 2em;
  color: #B38800;
  text-transform: uppercase;
  font: 700 1.4rem 'Roboto', sans-serif;
  letter-spacing: 0.15em;
  text-align: center;
  position: relative;
  border-radius: 8px;
  border: 4px solid #B38800;
  -webkit-transform: rotateX(15deg);
          transform: rotateX(15deg);
  -webkit-animation: rotate ease-out 6s infinite alternate;
          animation: rotate ease-out 6s infinite alternate;
  -webkit-transform-style: inherit;
          transform-style: inherit;
  cursor: pointer;
  -webkit-transition: border 0.4s, color 0.4s;
  transition: border 0.4s, color 0.4s;
}

button:hover,
button:focus {
  border: 4px solid #321AE8;
  color: #F2F7F2;
}

:root {
  --background-colour: none;
  --border-colour: $btnColor;
  --border-width: 6px;
}

button:hover,
button:focus {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #A49694, 0 0 30px #A49694, 0 0 40px #A49694, 0 0 60px #A49694, 0 0 50px #A49694;
}

main {
  height: 100%;
  position: relative;
  margin-top: 100px;
  padding-bottom: 150px;
  display: none;
}

.borderBlue {
  border: 15px solid #321AE8;
  border-radius: 20px;
}

.question {
  -webkit-box-shadow: -40px 40px 30px #111;
          box-shadow: -40px 40px 30px #111;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(21, 11, 99, 0.3)), to(rgba(67, 58, 140, 0.3)));
  background: linear-gradient(rgba(21, 11, 99, 0.3) 50%, rgba(67, 58, 140, 0.3));
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 20px 200px;
  text-align: center;
  margin-bottom: 30px;
}

.item {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 4px solid #321AE8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countTimer {
  font: 400 3rem 'Roboto', sans-serif;
}

.restart {
  font: 400 1.8rem 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  border: 5px solid transparent;
  -o-border-image: linear-gradient(to bottom right, #321AE8 0%, #B38800 25%, #321AE8 50%, #B38800 75%, #321AE8 100%);
     border-image: -webkit-gradient(linear, left top, right bottom, from(#321AE8), color-stop(25%, #B38800), color-stop(50%, #321AE8), color-stop(75%, #B38800), to(#321AE8));
     border-image: linear-gradient(to bottom right, #321AE8 0%, #B38800 25%, #321AE8 50%, #B38800 75%, #321AE8 100%);
  border-image-slice: 1;
  height: 200px;
  margin: 20px auto;
  width: 400px;
}

.multipleChoices {
  -webkit-box-shadow: -40px 40px 30px #111;
          box-shadow: -40px 40px 30px #111;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(21, 11, 99, 0.3)), to(rgba(67, 58, 140, 0.3)));
  background: linear-gradient(rgba(21, 11, 99, 0.3) 50%, rgba(67, 58, 140, 0.3));
  padding: 50px 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.answerButtons {
  font: 400 1.2rem 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  text-align: center;
  border-radius: 8px;
  border: 3px solid #B38800;
  color: #F2F7F2;
  background: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: border 0.4s, color 0.4s;
  transition: border 0.4s, color 0.4s;
}

.answerButtons:hover, .answerButtons:focus {
  border: 3px solid #321AE8;
}

.extraButtonsContainer {
  margin-top: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.extraButtons {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  font: 700 1rem 'Roboto', sans-serif;
  letter-spacing: 0.15em;
  text-transform: capitalize;
  text-align: center;
  border: 3px solid #B38800;
  color: #F2F7F2;
  background: none;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: border 0.4s, color 0.4s;
  transition: border 0.4s, color 0.4s;
}

.extraButtons:first-of-type {
  margin-right: 20px;
}

.extraButtons:hover, .extraButtons:focus {
  border: 3px solid #321AE8;
}

.modalBox {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #39393A;
  display: none;
}

.modalBox img {
  max-width: 300px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modalBox p {
  font: 6rem 'Bungee Inline', cursive;
  line-height: 0.8;
}

.flexFooter {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(21, 11, 99, 0.3)), to(rgba(67, 58, 140, 0.3)));
  background: linear-gradient(rgba(21, 11, 99, 0.3) 50%, rgba(67, 58, 140, 0.3));
  -webkit-box-shadow: -40px 40px 30px #111;
          box-shadow: -40px 40px 30px #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
  margin-bottom: 40px;
}

.flexFooter + p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
}

.flexFooter h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.flexFooter p {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  letter-spacing: 1px;
}

.flexFooter p a {
  text-decoration: none;
  color: #B38800;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.flexFooter p a:hover, .flexFooter p a:focus {
  color: #321AE8;
}

.flexFooter li {
  list-style-type: none;
}

.flexFooter li a {
  font-size: 2.2rem;
  color: #B38800;
  padding: 0 10px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.flexFooter li a:hover, .flexFooter li a:focus {
  color: #321AE8;
}

.icon {
  font-size: 2.2rem;
  color: #B38800;
  padding: 0 10px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.icon:hover,
.icon:focus {
  color: #321AE8;
}

.devOne,
.devTwo {
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 5.5rem;
    margin: 0;
  }
  .textContainer > span {
    font-size: 5.5rem;
  }
  button #startBtn {
    padding: 0;
    font-size: 1rem;
  }
  .question {
    font-size: 2rem;
    padding: 10px 100px;
  }
  .multipleChoices {
    padding: 10px 50px;
  }
  .answerButtons {
    font-size: 1rem;
    padding: 10px 20px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  .textContainer > span {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  .textContainer > span {
    font-size: 2.5rem;
  }
  button {
    padding: 0.2;
    font-size: 1rem;
  }
}

body {
  font: 400 1rem 'Roboto', sans-serif;
  color: white;
}

img {
  display: block;
}

h3 {
  font: 400 2rem 'Roboto', sans-serif;
}
